body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    font-family: sans-serif;

    padding: 0; /*念のため body のパディングも削除 */
    overflow: hidden; /* スクロールバーを強制的に非表示にする */
}

canvas {
    border: 1px solid black;
    background-color: #000; /* ゲーム画面は黒背景 */
}